<?xml version="1.0" ?>
<robot name="arm_with_effector" version="1.0">
  <link name="world"/>
  <link name="link1"/>
  <link name="link2"/>
  <link name="camera1_link"/>
  <link name="camera2_link"/>
  <link name="marker_link"/>
  <link name="camera1_color_optical_frame"/>
  <link name="camera2_color_optical_frame"/>
  <joint name="world_link1_joint" type="fixed">
    <origin xyz="0.1 -0.2 0.3" rpy="0.0 0.0 1.57"/>
    <parent link="world"/>
    <child link="link1"/>
  </joint>
  <joint name="world_link2_joint" type="fixed">
    <origin xyz="-0.1 -0.2 0.3" rpy="0.0 0.0 1.57"/>
    <parent link="world"/>
    <child link="link2"/>
  </joint>
  <joint name="link1_camera1_joint" type="fixed">
    <origin xyz="-0.10185413390876669 -0.242730281795217 0.04317593204980823" rpy="-0.5223655953853976 0.03192681993488331 0.3877203722497517"/>
    <parent link="link1"/>
    <child link="camera1_link"/>
  </joint>
  <joint name="link2_camera1_joint" type="fixed">
    <origin xyz="-0.3845053464933208 -0.24025312362980633 -0.02795309174630628" rpy="0.03874160622700417 0.021067395521222068 0.3958297165414839"/>
    <parent link="link2"/>
    <child link="camera2_link"/>
  </joint>
  <joint name="link1_camera1_optical_joint" type="fixed">
    <parent link="camera1_link"/>
    <child link="camera1_color_optical_frame"/>
  </joint>
  <joint name="link2_camera2_optical_joint" type="fixed">
    <parent link="camera2_link"/>
    <child link="camera2_color_optical_frame"/>
  </joint>
  <joint name="world_marker_joint" type="fixed">
    <origin xyz="0.0 0.2 0.3" rpy="1.57 0.0 0.0"/>
    <parent link="world"/>
    <child link="marker_link"/>
  </joint>
</robot>